<div id="main" class="container-fluid">
    <h3 class="page-header">Usuario</h3>

    <form #frm_usuario="ngForm" novalidate>
      <div class="form-group col-lg-6" style="border-width: 2px">
        <label for="nome" class="form-label">Nome</label>
        <input type="text"  [(ngModel)]="usuario.nome" #nome="ngModel" id="nome" name="nome" class="form-control" placeholder="Digite o nome" ng-required="true"/>
        <span class="error_message" *ngIf="nome.$dirty &&  nome.$invalid">Nome obrigat&oacute;rio</span>   
      </div>
  
      <div class="form-group col-lg-6">
        <label for="telefone" class="form-label">Setor</label> 
        <input type="text" [(ngModel)]="usuario.setor" #setor="ngModel" id="setor" class="form-control" name="setor" placeholder="Digite o setor" />
      </div>
  
      <div class="form-group col-lg-8">
        <label for="ramal" class="form-label">Ramal</label> 
        <input type="text" [(ngModel)]="usuario.ramal" #ramail="ngModel" id="ramal" class="form-control" placeholder="Digite o ramal" ng-blur="limpaMensagem()"/>
      </div>
      
    <!-- <div class="form-group col-md-12"  ng-show="mensagem!='' && !frm_usuario.$dirty">
        <div ng-class="classeMensagem">{{mensagem}}</div>
      </div>  -->
      
      <div class="rows">
        <div class="col-md-12">
          <!-- <button (click)="grava()" class="btn btn-primary" [disabled]="frm_usuario$invalid">Grava</button> -->
          <button (click)="grava()" class="btn btn-primary" [disabled]="frm_usuario.$invalid">Grava</button>
          <button (click)="cancela()" class="btn btn-default" [disabled]="frm_usuario.$dirty">Cancela</button>
        </div>
      </div>
    <!-- <alerta-mensagem id="id_msg" itens="listaMensagens" tipo-erro="flagMensagemErro" 
        tipo-sucesso="flagMensagemSucesso"  ng-show="!frm_usuario.$dirty"></alerta-mensagem> -->
    </form>
    
  </div>