<div id="main" class="container-fluid">
  <h3 class="page-header">Usuario</h3>

  <form #frm_usuario="ngForm" novalidate>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" [(ngModel)]="usuario.nome" #nome="ngModel" name="nome" class="form-control" placeholder="Digite o nome"
          ng-required="true" />
        <span class="error_message" *ngIf="nome.$dirty &&  nome.$invalid">Nome obrigat&oacute;rio</span>
      </div>

      <div class="form-group col-md-6">
        <label for="ativo" class="form-label">Ativo</label>
        <div id="chk_ativo">
          <input type="checkbox" [(ngModel)]="usuario.ativo" #ativo="ngModel" name="ativo" [value]="true">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="telefone" class="form-label">Setor</label>
        <input type="text" [(ngModel)]="usuario.setor" #setor="ngModel" name="setor" class="form-control" placeholder="Digite o setor"
        />
      </div>

      <div class="form-group col-md-6">
        <label for="ramal" class="form-label">Ramal</label>
        <input type="text" [(ngModel)]="usuario.ramal" #ramal="ngModel" name="ramal" class="form-control" placeholder="Digite o ramal"
          ng-blur="limpaMensagem()" />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="login" class="form-label">Login</label>
        <input type="text" name="login" [(ngModel)]="usuario.login" #login="ngModel" class="form-control" placeholder="Digite o login"
          ng-blur="limpaMensagem()" />
      </div>
      <div class="form-group col-md-6">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" name="senha" [(ngModel)]="usuario.senha" #senha="ngModel" id="senha" class="form-control" placeholder="Digite a senha"
          ng-blur="limpaMensagem()" />
      </div>
    </div>
    <!-- <div class="form-group col-md-12"  ng-show="mensagem!='' && !frm_usuario.$dirty">
        <div ng-class="classeMensagem">{{mensagem}}</div>
      </div>  -->

    <div class="rows">
      <div class="col-md-12">
        <!-- <button (click)="grava()" class="btn btn-primary" [disabled]="frm_usuario$invalid">Grava</button> -->
        <button (click)="grava()" class="btn btn-primary" [disabled]="frm_usuario.$invalid">Grava</button>
        <button (click)="cancela()" class="btn btn-default" [disabled]="frm_usuario.$dirty">Cancela</button>
      </div>
    </div>
    <!-- <alerta-mensagem id="id_msg" itens="listaMensagens" tipo-erro="flagMensagemErro" 
        tipo-sucesso="flagMensagemSucesso"  ng-show="!frm_usuario.$dirty"></alerta-mensagem> -->
  </form>

</div>