<div id="main" class="container-fluid">

	<div id="top" class="row">
		<div class="col-md-3">
			<h2>Usu&aacute;rios</h2>
		</div>

		<div class="col-md-6">
			<div class="input-group h2">
			<!--	<form>  -->
					<input name="data[search]" class="form-control" id="search" type="text" 
						placeholder="Pesquisar Usu&aacute;rios" [(ngModel)]="argumento">
					<!-- <span class="input-group-btn">  -->
						<button pButton icon="pi pi-search" (click)="pesquisa()"></button>
					<!-- </span> -->
		<!--		</form> -->
			</div>
		</div>
		<div class="col-md-3">
			<a href="/usuario-form" class="btn btn-primary">Novo Usu&aacute;rio</a>
		</div>
	</div>

	<div id="list" class="row">
		<div class="table-responsive col-md-12">
			<table class="table table-striped" cellspacing="0" cellpading="0">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Setor</th>
						<th>Ramal</th>
						<th class="actions">A&ccedil;&otilde;es</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let usuario of usuarios">
						<td>{{usuario.id}}</td>
						<td>{{usuario.nome}}</td>
						<td>{{usuario.setor}}</td>
						<td>{{usuario.ramal}}</td>
						<td class="actions">
							<button pButton icon="pi pi-exclamation-triangle" label="Edita" style="margin-right: 3px"></button>

							<button pButton icon="pi  pi-times" label="Exclui" (click)="excluir(usuario.id)">
								<!--	<span class="glyphicon glyphicon-trash"></span> -->
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal -->
	<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>


</div>